<footer class="d-flex flex-column justify-content-center align-items-center p-3">
    <div class="d-flex justify-content-around align-items-center w-100">
        <div class="p-3"><a href="">Contact</a></div>
        <div class="p-3"><a href="">Privacy policy</a></div>
        <div class="p-3"><a href="">Terms of use</a></div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center text-white">
        Developed by FanCompany &copy; 2023. All rights reserved
    </div>
</footer>