.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dialog-content {
  font-family: 'Press Start 2P', cursive;
  font-weight: bolder;
  color: green;
  font-size: 20px;
}

.dialog-icon {
  color: green;
  width: auto;
  height: auto;
  font-size: 75px;
}
